---
import Page from '../../../components/Page.astro';
import Chip from '../../../components/Chip.astro';
import ItemCount from '../../../components/ItemCount.astro';
import Process from '../../processes/process.svelte';

import items from '../json/items.json';

const { itemId } = Astro.params;
const Watts = 231.25;

let item, printInfo, machineInfo;

try {
    item = items.find((item) => item.id === itemId);

    if (!item) {
        throw new Error('Item not found');
    }

    if (item.type === '3dprint') {
        const prints = await Astro.glob('../json/items/prints/*.json');
        printInfo = prints.find((print) => print.itemId === item.id);
        const machines = await Astro.glob('../json/items/printers/*.json');
        machineInfo = machines.find((machine) => machine.id === printInfo.machineId);
    }
} catch (err) {
    console.error(err);
}
---

<Page hideSettings={true} title={item.creationTitle} columns="1">
    <img src={item.image} alt={item.name} />

    <div>
        <Chip text="Skip to item creation" href={`/inventory/addItems/1?consumeIds=12,22&consumeCounts=eyIxMiI6IDMzLCAiMjIiOiAyMzEuMjV9`} />
        <p>Total Time: 1h 51m</p>
        Items Consumed:
        <ItemCount itemIds={['12', '22']} itemCounts={{'12': 33, '22': 231.25}} />
        Items Created:
        <ItemCount itemIds={['1']} itemCounts={{}} />
        <Process machineInfo={machineInfo} process={{id: 0}} item={item} client:idle />
    </div>
</Page>

<style>
    img {
        width: 100%;
    }
</style>