---
import Page from '../../../components/Page.astro';
import Chip from '../../../components/Chip.astro';
import Warning from '../../../components/Warning.astro';
import items from '../json/items.json';
import AddItem from './AddItem.svelte';
import { getCookie, prettyPrintDuration } from '../../../utils.js';

const { itemId } = Astro.params;
let item, printInfo, machineInfo, cooldownDate, cooldownSeconds;

let cooldown  = Astro.url.searchParams.get('cooldown') || false;

if (itemId) {
    const key = `item-${itemId}-cooldown`;
    cooldown = getCookie(Astro.request, `item-${itemId}-cooldown`);
    cooldownDate = new Date(cooldown);
    // number of seconds until cooldownDate
    cooldownSeconds = (cooldownDate - Date.now()) / 1000;
    if (cooldownSeconds > 0) {
        cooldownDate = prettyPrintDuration(cooldownSeconds, true);
    } else {
        cooldown = false;
    }
}

try {
    item = items.find((item) => item.id === itemId);

    if (!item) {
        throw new Error('Item not found');
    }

    if (item.type === '3dprint') {
        const prints = await Astro.glob('../json/3dprinting/prints/*.json');
        printInfo = prints.find((print) => print.id === item.id);
        const machines = await Astro.glob('../json/3dprinting/printers/*.json');
        machineInfo = machines.find((machine) => machine.id === printInfo.machineId);
    }
} catch (err) {
    console.error(err);
}
---

<Page hideSettings={true} title={item.creationTitle} columns="1">
    {(cooldown && cooldownSeconds > 1) && <Warning title="Still on cooldown" text={`Still on cooldown for another ${cooldownDate}`} />}
    <img src={item.image} alt={item.name} />

    {
        item.type === '3dprint' && (
            <div>
                <Chip text={item.name} href={`/inventory/${item.id}`} />
                <p>{item.description}</p>
                <p>Filament: {printInfo.filamentGrams}g</p>
                <AddItem printInfo={printInfo} machineInfo={machineInfo} cooldown={cooldownSeconds} client:idle />
            </div>
        )
    }
</Page>

<style>
    img {
        width: 200px;
    }
</style>