---
import Chip from './Chip.astro';

const { title, text, href = '#', image, chips = [], testId } = Astro.props;
---

<a href={href} data-testid={testId}>
    <div class="item">
        <h3>{title}</h3>
        <div class="section horizontal">
            <img src={image} alt={title} />
            <div class="section vertical">
                <p class="nobackground">{text}</p>
                {
                    chips.length > 0 && (
                        <div class="section horizontal actions" data-testid={
                            testId ? `${testId}-actions` : undefined
                        }>
                            {chips.map(({ text: chipText, href: chipHref, variant, size }) => (
                                <Chip text={chipText} href={chipHref} variant={variant} size={size} />
                            ))}
                        </div>
                    )
                }
            </div>
        </div>
    </div>
</a>

<style>
    a {
        text-decoration: none;
        color: white;
    }

    a:focus-visible {
        outline: 2px solid #ffffff;
        outline-offset: 2px;
    }

    .section {
        align-items: center;
    }

    .horizontal {
        display: flex;
        flex-direction: row;
    }

    .vertical {
        display: flex;
        flex-direction: column;
    }

    .item {
        background-color: #2f5b2f;
        padding: 20px;
        border-radius: 20px;
        opacity: 0.8;
    }
    
    .item h3 {
        margin: 0px;
        text-align: center;
    }
    
    img {
        width: 100px;
        height: 100px;
        border-radius: 20px;
        margin-right: 5px;
    }
    
    p {
        background-color: #84d484;
        opacity: 0.8;
        color: black;
        padding: 5px;
        margin: 5px;
        border-radius: 20px;
    }
    
    .nobackground {
        background: none;
        color: white;
    }
    
    button {

    }
</style>
