---
import Page from '../../components/Page.astro';
import items from './json/items.json';
import Chip from '../../components/Chip.astro';
import { getCookie } from '../../utils';

const { itemId } = Astro.params;

const item = items.find((item) => item.id === itemId);

const { id, name, description, image, creationTitle, price } = item;

const itemCount = getCookie(Astro.request, `item-${itemId}`);
---

<Page columns="1"> 
    <h3>{name}</h3>
    <img src={image} alt={name} />
    <p>{description}</p>
    <div class="horizontal">
        {price && <Chip text="Buy" href={`/shop/buy/${id}`}></Chip>}
        {price && <Chip text="Sell" href={`/shop/sell/${id}`}></Chip>}
    </div>
    {creationTitle && <Chip text={creationTitle} href={`/inventory/add/${id}`} />}
    <p>Count: {itemCount || 0}</p>
</Page>

<style>
    img {
        width: 200px;
    }

    a {
        text-decoration: none;
    }

    .horizontal {
        display: flex;
        flex-direction: row;
    }
</style>